@layer Components {
	[data-component='calendar'] {
		--_border-radius: 0.5ch;

		color: var(--color-on-surface);
		background-color: var(--color-surface-container);

		box-shadow: rgba(0, 0, 0, 0.18) 0px 2px 4px;

		padding: 0.5rem;
		border-radius: var(--_border-radius);

		[data-component='button'] {
			border-radius: var(--_border-radius);

			&:disabled {
				color: var(--color-surface-container);
			}

			&:hover:not(:disabled) {
				background-color: var(--color-surface-container-highest);
			}

			&:focus {
				outline: none;
				background-color: var(--color-surface-container-highest);
			}
		}

		table {
			border-spacing: 0.1em;
			border-collapse: separate;
		}
	}

	[data-component='calendar-header'] {
		display: flex;
		justify-content: space-between;
		align-items: center;
		gap: 1em;

		margin-bottom: 0.5rem;

		color: var(--color-text-muted);
		font-weight: 600;
	}

	[data-component='calendar-grid-header'] {
		color: var(--color-text-muted);
		font-size: 0.8em;
	}

	[data-component='calendar-grid-body'] {
		text-align: center;
		border-spacing: 10px;
		border-collapse: separate;

		td {
			min-width: 3ch;
		}
	}

	[data-component='calendar-grid-cell'] {
		border-radius: var(--_border-radius);

		> div {
			user-select: none;
			padding: 0.3em 0.5em;
			outline-offset: -1px;
		}

		&:where(:not([data-disabled])):hover {
			background-color: var(--color-surface-container-high);
		}

		&[data-focused] {
			background-color: var(--color-primary-container);
			color: var(--color-on-primary-container);

			&:not([data-selected]) > div {
				outline: none;
			}
		}

		&[data-pressed] {
			background-color: var(--color-primary-container);
		}

		&[data-selected] {
			background-color: var(--color-primary);
			color: var(--color-on-primary);
		}

		&[data-disabled] {
			color: var(--color-text-muted);
			filter: blur(0.5px);
		}

		&[data-disabled] {
			text-decoration: line-through;

			> div {
				cursor: not-allowed;
			}
		}
	}
}
