@layer components {
	[data-component='switch'] {
		--_thumb-size: 1.5rem;
		--_thumb-position: 0%;
		--_thumb-color: var(--light, var(--color-tertiary))
			var(--dark, var(--color-tertiary-container));
		--_track-width: calc(var(--_thumb-size) * 2);
		--_track-padding: 0.2rem;
		--_track-color: var(--color-surface-container-lowest);
		--_highlight-size: 0;
		--_highlight-color: rgb(var(--_color-secondary) / 0.3);

		appearance: none;
		display: grid;
		grid: [track] 1fr / [track] 1fr;
		align-items: center;
		width: var(--_track-width);
		height: var(--_thumb-size);
		background-color: var(--_track-color);
		border-radius: var(--_track-width);
		border: 1px solid var(--color-outline);
		box-sizing: content-box;
		padding: var(--_track-padding);
		cursor: pointer;

		flex-shrink: 0;

		&:focus-visible {
			outline: solid 3px var(--color-primary);
			outline-offset: 0;
		}

		&:checked {
			--_thumb-position: 100%;
			--_thumb-color: var(--color-tertiary);
			--_track-color: var(--color-tertiary-container);
		}

		&:indeterminate {
			--_thumb-position: 50%;
		}

		&:disabled {
			--_track-color: var(--color-outline);
			--_thumb-color: transparent;
		}

		&::before {
			border: 1px solid var(--_thumb-color);
			content: '';
			grid-area: track;
			border-radius: 100%;
			width: var(--_thumb-size);
			height: var(--_thumb-size);
			background-color: var(--_thumb-color);
			transform: translateX(var(--_thumb-position));
			box-shadow: 0 0 0 var(--_highlight-size) var(--_highlight-color);
		}

		&:hover::before {
			--_highlight-size: 0.4rem;
		}

		&:disabled::before {
			box-shadow: inset 0 0 0 2px var(--color-tertiary);
		}
	}

	@media (--motion-ok) {
		[data-component='switch']::before {
			transition: 100ms transform ease-in-out;
		}
	}
}
