:root {
	/*
		Variables prefixed with "_" should be considered private and should not be used directly.
	*/

	--_brand-hue: 233;

	--_primary-hue: var(--_brand-hue);
	--_color-primary-100: hsl(var(--_primary-hue), 89%, 90%);
	--_color-primary-90: hsl(var(--_primary-hue), 89%, 70%);
	--_color-primary-80: hsl(var(--_primary-hue), 68%, 64%);
	--_color-primary-70: hsl(var(--_primary-hue), 52%, 58%);
	--_color-primary-60: hsl(var(--_primary-hue), 43%, 53%);
	--_color-primary-50: hsl(var(--_primary-hue), 40%, 48%);
	--_color-primary-40: hsl(var(--_primary-hue), 42%, 43%);
	--_color-primary-30: hsl(var(--_primary-hue), 45%, 38%);
	--_color-primary-20: hsl(var(--_primary-hue), 48%, 33%);
	--_color-primary-10: hsl(var(--_primary-hue), 52%, 28%);
	--_color-primary-0: hsl(var(--_primary-hue), 58%, 24%);

	--_color-secondary-100: hsl(var(--_brand-hue), 89%, 70%);
	--_color-secondary-90: hsl(var(--_brand-hue), 89%, 70%);
	--_color-secondary-80: hsl(var(--_brand-hue), 68%, 64%);
	--_color-secondary-70: hsl(var(--_brand-hue), 52%, 58%);
	--_color-secondary-60: hsl(var(--_brand-hue), 43%, 53%);
	--_color-secondary-50: hsl(var(--_brand-hue), 40%, 48%);
	--_color-secondary-40: hsl(var(--_brand-hue), 42%, 43%);
	--_color-secondary-30: hsl(var(--_brand-hue), 45%, 38%);
	--_color-secondary-20: hsl(var(--_brand-hue), 48%, 33%);
	--_color-secondary-10: hsl(var(--_brand-hue), 52%, 28%);
	--_color-secondary-0: hsl(var(--_brand-hue), 58%, 24%);

	--_color-tertiary-100: hsl(var(--_brand-hue), 89%, 70%);
	--_color-tertiary-90: hsl(var(--_brand-hue), 89%, 70%);
	--_color-tertiary-80: hsl(var(--_brand-hue), 68%, 64%);
	--_color-tertiary-70: hsl(var(--_brand-hue), 52%, 58%);
	--_color-tertiary-60: hsl(var(--_brand-hue), 43%, 53%);
	--_color-tertiary-50: hsl(var(--_brand-hue), 40%, 48%);
	--_color-tertiary-40: hsl(var(--_brand-hue), 42%, 43%);
	--_color-tertiary-30: hsl(var(--_brand-hue), 45%, 38%);
	--_color-tertiary-20: hsl(var(--_brand-hue), 48%, 33%);
	--_color-tertiary-10: hsl(var(--_brand-hue), 52%, 28%);
	--_color-tertiary-0: hsl(var(--_brand-hue), 58%, 24%);

	--_neutral-h: var(--_brand-hue);
	--_neutral-s: 7%;
	--_color-neutral-100: hsl(var(--_neutral-h), var(--_neutral-s), 100%);
	--_color-neutral-96: hsl(var(--_neutral-h), var(--_neutral-s), 96%);
	--_color-neutral-92: hsl(var(--_neutral-h), var(--_neutral-s), 92%);
	--_color-neutral-88: hsl(var(--_neutral-h), var(--_neutral-s), 89%);
	--_color-neutral-84: hsl(var(--_neutral-h), var(--_neutral-s), 85%);
	--_color-neutral-80: hsl(var(--_neutral-h), var(--_neutral-s), 81%);
	--_color-neutral-76: hsl(var(--_neutral-h), var(--_neutral-s), 78%);
	--_color-neutral-72: hsl(var(--_neutral-h), var(--_neutral-s), 74%);
	--_color-neutral-68: hsl(var(--_neutral-h), var(--_neutral-s), 71%);
	--_color-neutral-64: hsl(var(--_neutral-h), var(--_neutral-s), 67%);
	--_color-neutral-60: hsl(var(--_neutral-h), var(--_neutral-s), 63%);
	--_color-neutral-56: hsl(var(--_neutral-h), var(--_neutral-s), 60%);
	--_color-neutral-52: hsl(var(--_neutral-h), var(--_neutral-s), 56%);
	--_color-neutral-48: hsl(var(--_neutral-h), var(--_neutral-s), 53%);
	--_color-neutral-44: hsl(var(--_neutral-h), var(--_neutral-s), 49%);
	--_color-neutral-40: hsl(var(--_neutral-h), var(--_neutral-s), 45%);
	--_color-neutral-36: hsl(var(--_neutral-h), var(--_neutral-s), 41%);
	--_color-neutral-32: hsl(var(--_neutral-h), var(--_neutral-s), 38%);
	--_color-neutral-28: hsl(var(--_neutral-h), var(--_neutral-s), 34%);
	--_color-neutral-24: hsl(var(--_neutral-h), var(--_neutral-s), 31%);
	--_color-neutral-20: hsl(var(--_neutral-h), var(--_neutral-s), 27%);
	--_color-neutral-16: hsl(var(--_neutral-h), var(--_neutral-s), 24%);
	--_color-neutral-12: hsl(var(--_neutral-h), var(--_neutral-s), 20%);
	--_color-neutral-8: hsl(var(--_neutral-h), var(--_neutral-s), 16%);
	--_color-neutral-4: hsl(var(--_neutral-h), var(--_neutral-s), 13%);
	--_color-neutral-0: hsl(var(--_neutral-h), var(--_neutral-s), 9%);

	--_ON: initial;
	--_OFF: ;

	/* https://css-tricks.com/a-dry-approach-to-color-themes-in-css/ */

	/* Key colors */

	--color-primary: var(--light, var(--_color-primary-40))
		var(--dark, var(--_color-primary-70));

	--color-on-primary: var(--light, #ffff) var(--dark, #ffff);

	--color-primary-container: var(--light, var(--_color-primary-90))
		var(--dark, var(--_color-primary-20));

	--color-on-primary-container: var(--light, #ffff) var(--dark, #ffff);

	--color-secondary: var(--light, var(--_color-secondary-50))
		var(--dark, var(--_color-secondary-50));

	--color-on-secondary: var(--light, hsl(0, 0%, 100%))
		var(--dark, hsl(0, 0%, 100%));

	--color-secondary-container: var(--light, var(--_color-secondary-10))
		var(--dark, var(--_color-secondary-10));

	--color-on-secondary-container: var(--light, var(--_color-secondary-80))
		var(--dark, var(--_color-secondary-80));

	--color-tertiary: var(--light, var(--_color-tertiary-50))
		var(--dark, var(--_color-tertiary-50));

	--color-on-tertiary: var(--light, hsl(0, 0%, 100%))
		var(--dark, hsl(0, 0%, 100%));

	--color-tertiary-container: var(--light, var(--_color-tertiary-10))
		var(--dark, var(--_color-tertiary-10));

	--color-on-tertiary-container: var(--light, var(--_color-tertiary-80))
		var(--dark, var(--_color-tertiary-80));

	/* Surface colors */

	--color-surface: var(--light, var(--_color-neutral-92))
		var(--dark, var(--_color-neutral-8));

	--color-surface-dim: var(--light, var(--_color-neutral-80))
		var(--dark, var(--_color-neutral-4));

	--color-surface-bright: var(--light, var(--_color-neutral-96))
		var(--dark, var(--_color-neutral-24));

	--color-surface-container: var(--light, var(--_color-neutral-88))
		var(--dark, var(--_color-neutral-12));

	--color-surface-container-lowest: var(--light, var(--_color-neutral-100))
		var(--dark, var(--_color-neutral-4));

	--color-surface-container-low: var(--light, var(--_color-neutral-96))
		var(--dark, var(--_color-neutral-8));

	--color-surface-container-high: var(--light, var(--_color-neutral-84))
		var(--dark, var(--_color-neutral-16));

	--color-surface-container-highest: var(--light, var(--_color-neutral-72))
		var(--dark, var(--_color-neutral-20));

	--color-on-surface: var(--light, #181c32) var(--dark, #ffffff);

	--color-outline: var(--light, var(--_color-neutral-32))
		var(--dark, var(--_color-neutral-72));

	--color-outline-secondary: var(--light, var(--_color-neutral-72))
		var(--dark, var(--_color-neutral-20));

	--color-theme-bg: var(--color-surface);

	/* Custom colors */

	--color-text-muted: var(--light, var(--_color-neutral-40))
		var(--dark, var(--_color-neutral-56));

	--color-success: var(--light, rgb(35, 134, 54)) var(--dark, rgb(35, 134, 54));

	--color-on-success: var(--light, #ffff) var(--dark, #ffff);

	--color-success-container: var(--light, rgb(143 255 166))
		var(--dark, rgb(143 255 166));

	--color-on-success-container: var(--light, rgb(11, 46, 18))
		var(--dark, rgb(11, 46, 18));

	--color-danger: var(--light, rgb(186, 26, 26)) var(--dark, rgb(186, 26, 26));

	--color-on-danger: var(--light, #fff) var(--dark, #fff);

	--color-danger-container: var(--light, rgb(253 157 157))
		var(--dark, rgb(255 116 116));

	--color-on-danger-container: var(--light, rgb(52, 8, 8))
		var(--dark, rgb(52, 8, 8));

	--color-info: var(--light, var(--_color-primary-40))
		var(--dark, var(--_color-primary-70));

	--color-on-info: var(--light, var(--_color-primary-40))
		var(--dark, var(--_color-primary-70));

	--color-info-container: var(--light, var(--_color-primary-40))
		var(--dark, var(--_color-primary-70));

	--color-on-info-container: var(--light, var(--_color-primary-40))
		var(--dark, var(--_color-primary-70));

	--color-warning: var(--light, var(--_color-primary-40))
		var(--dark, var(--_color-primary-70));

	--color-on-warning: var(--light, var(--_color-primary-40))
		var(--dark, var(--_color-primary-70));

	--color-info-warning: var(--light, var(--_color-primary-40))
		var(--dark, var(--_color-primary-70));

	--color-on-info-warning: var(--light, var(--_color-primary-40))
		var(--dark, var(--_color-primary-70));
}

.theme-default,
.theme-light {
	--light: var(--_ON);
	--dark: var(--_OFF);
}

.theme-dark {
	--light: var(--_OFF);
	--dark: var(--_ON);
}

@media (--OSdark) {
	.theme-default {
		--light: var(--_OFF);
		--dark: var(--_ON);
	}
}

html {
	background-color: var(--color-theme-bg);
	color: var(--color-on-surface);
}

/* See: tailwind.config.cjs for the classes below*/

:where(.bg-primary) {
	color: var(--color-on-primary);
}

:where(.bg-primary-container) {
	color: var(--color-on-primary-container);
}

:where(.bg-secondary) {
	color: var(--color-on-secondary);
}

:where(.bg-secondary-container) {
	color: var(--color-on-secondary-container);
}

:where(.bg-tertiary) {
	color: var(--color-on-tertiary);
}

:where(.bg-tertiary-container) {
	color: var(--color-on-tertiary-container);
}

:where(.text-muted) {
	color: var(--color-text-muted);
}

:where(
		.bg-surface,
		.bg-surface-dim,
		.bg-surface-bright,
		.bg-surface-container-lowest,
		.bg-surface-container-low,
		.bg-surface-container,
		.bg-surface-container-high,
		.bg-surface-container-highest
	) {
	color: var(--color-on-surface);
}
