body {
	--_header-height: 3rem;
}

#page-header {
	--_header-hidden-y: var(--_header-height);

	bottom: 0;
	position: fixed;
	height: var(--_header-height);
	width: 100vw;
	transition: transform 0.1s ease-in-out;
	background-color: var(--color-surface-container-highest);
}

#page-header:not(.visible) {
	transform: translateY(var(--_header-hidden-y));
}

#page-main {
	padding-block: 1rem;
}

@media (min-width: 768px) {
	body {
		--_header-height: 3rem;
	}

	#page-main {
		margin-top: var(--_header-height);
	}

	#page-header {
		bottom: auto;
		top: 0;
		--_header-hidden-y: calc(-1 * var(--_header-height));
	}
}
