@layer components {
	[data-component='checkbox'] {
		--_size: 1.5rem;
		--_clr-border: var(--color-outline);
		--_clr-outline: var(--color-primary);

		appearance: none;

		margin: 0;
		height: var(--_size);
		width: var(--_size);

		display: grid;
		place-content: center;

		background-color: var(--color-surface-container-lowest);
		border-radius: var(--_border-radius-sm);
		border: solid 2px var(--_clr-border);

		&:focus-visible {
			--_clr-border: var(--color-primary);
			outline: solid 3px var(--_clr-outline);
			outline-offset: 0;
		}

		&:checked {
			--_clr-border: var(--color-primary);
			background-color: var(--color-tertiary-container);
		}

		&::before {
			content: '';
			width: calc(var(--_size) * 0.5);
			height: calc(var(--_size) * 0.5);
			border-radius: var(--_border-radius-sm);
			background-color: var(--color-tertiary);
			transform: scale(0);
			transition: 80ms transform ease-in-out;
		}

		&:checked::before {
			transform: scale(1);
		}

		&[aria-invalid='true'] {
			--_clr-border: var(--color-error);
			--_clr-outline: var(--color-error);
		}
	}
}
