@layer Components {
	[data-component='radio-button'] {
		--_size: 1.5rem;
		--_clr-border: var(--clr-outline);
		--_clr-outline: var(--clr-primary);

		appearance: none;

		margin: 0;
		height: var(--_size);
		width: var(--_size);

		display: grid;
		place-content: center;

		border-radius: 100%;
		background-color: var(--clr-surface-container-lowest);
		border: solid 2px var(--_clr-border);

		&:focus-visible {
			--_clr-border: var(--clr-primary);
			outline: solid 3px var(--_clr-outline);
			outline-offset: 0;
		}

		&:checked {
			--_clr-border: var(--clr-primary);
			background-color: var(--clr-tertiary-container);
		}

		&::before {
			content: '';
			width: 0.9em;
			height: 0.9em;
			border-radius: 50%;
			clip-path: circle(40% at 50% 50%);
			background-color: var(--clr-tertiary);
			transform: scale(0);
			transition: 100ms transform ease-in-out;
		}

		&:checked::before {
			transform: scale(1);
		}

		&[aria-invalid='true'] {
			--_clr-border: var(--clr-error);
			--_clr-outline: var(--clr-error);
		}
	}
}
