@keyframes wiggle {
	from,
	to {
		transform: scale(1);
	}
	25% {
		transform: scale(0.85);
	}
	50% {
		transform: scale(1.15);
	}
	75% {
		transform: scale(0.95);
	}
}

@layer Components {
	@media (--motionOK) {
		[data-component='title']:target {
			animation: wiggle 2s;
		}
	}

	[data-component='title'] {
		scroll-margin: 3rem;
	}
}
