@layer Components {
	[data-component='form'] {
		> fieldset {
			min-width: 0;
		}
	}

	[data-component='form-control'] {
		display: flex;
		color: var(--color-on-surface);
		background-color: var(--color-surface-container);
		border: 0.1em solid var(--color-outline-secondary);
		border-radius: 0.125em;
		overflow: hidden;

		outline-width: 0;
		outline-offset: 0px;
		outline-color: var(--color-primary-container);
		outline-style: solid;

		box-shadow:
			hsl(0deg 0% 15% / 25%) 0px 1px 1px,
			hsl(0deg 0% 15% / 13%) 0px 0px 1px 1px;

		transition: outline-width 50ms ease;

		&:hover {
			outline-width: 1px;
		}

		&:focus-within {
			outline-width: 4px;
		}

		[data-component='tooltip-trigger'] {
			cursor: help;
			background-color: var(--color-surface-container-low);
			padding: 0.2em;

			&:focus-visible {
				outline: none;
				stroke-width: 0.7px;
				stroke: currentColor;
			}
		}
	}

	[data-component='input-fix'] {
		background-color: var(--color-surface-container-high);
		padding: 0.2em;
		user-select: none;
	}

	[data-component='form-input'] {
		background-color: var(--color-surface-container-low);
		min-width: 0;
		padding-inline: 0.2em;
		flex: 1 1 auto;

		&:focus {
			outline: none;
		}
	}

	[data-component='label-container'] {
		display: flex;
		align-items: center;
	}

	[data-component='form-label'] {
		overflow: hidden;
		text-overflow: ellipsis;
	}

	[data-component='field-description'] {
		display: block;
		color: var(--color-text-muted);
		font-size: 0.8em;
		line-height: 2;
	}

	[data-component='field-errors'] {
		color: var(--color-danger);
	}

	[data-component='error-message'] {
		--_margin-left: 1em;

		margin-left: var(--_margin-left);
		position: relative;
		font-size: 0.8em;
		font-weight: 600;
	}

	[data-component='error-message']::before {
		filter: blur(1px);
		position: absolute;
		left: calc(-1 * var(--_margin-left));
		top: 0;
		transform: translateY(100%);
		background-color: var(--color-danger);
		content: '';
		width: 0.5em;
		height: 0.5em;
		border-radius: 9999px;
	}
}
