/*
light-dark() has a very low % on caniuse.com so we are using css variables to achieve the same.

The goal is to initially set the theme that user has set as their preference but still allow theme switching (without js).

Documentation:
https://developer.mozilla.org/en-US/docs/Web/CSS/color_value/light-dark
https://caniuse.com/?search=light-dark
*/

/* See: https://css-tricks.com/a-dry-approach-to-color-themes-in-css/ */
:root {
	--_ON: initial;
	--_OFF: ;
}

.theme-default,
.theme-light {
	--light: var(--_ON);
	--dark: var(--_OFF);
}

.theme-dark {
	--light: var(--_OFF);
	--dark: var(--_ON);
}

@media (prefers-color-scheme: dark) {
	.theme-default {
		--light: var(--_OFF);
		--dark: var(--_ON);
	}
}

:root {
	/* See: https://m3.material.io/styles/color/system/overview */

	/* Primary colors */

	--_clr-primary: var(--light, 56 106 31) var(--dark, 0 0 31);
	--_clr-on-primary: 255 255 255;
	--_clr-primary-container: 184 243 151;
	--_clr-on-primary-container: 7 33 0;

	--clr-primary: rgb(var(--_clr-primary) / 1);
	--clr-on-primary: rgb(var(--_clr-on-primary) / 1);
	--clr-primary-container: rgb(var(--_clr-primary-container) / 1);
	--clr-on-primary-container: rgb(var(--_clr-on-primary-container) / 1);

	/* Secondary colors */

	--_clr-secondary: 85 98 76;
	--_clr-on-secondary: 255 255 255;
	--_clr-secondary-container: 217 231 203;
	--_clr-on-secondary-container: 19 31 13;

	--clr-secondary: rgb(var(--_clr-secondary) / 1);
	--clr-on-secondary: rgb(var(--_clr-on-secondary) / 1);
	--clr-secondary-container: rgb(var(--_clr-secondary-container) / 1);
	--clr-on-secondary-container: rgb(var(--_clr-on-secondary-container) / 1);

	/* Tertiary colors */

	--_clr-tertiary: 56 102 102;
	--_clr-on-tertiary: 255 255 255;
	--_clr-tertiary-container: 187 235 236;
	--_clr-on-tertiary-container: 0 32 32;

	--clr-tertiary: rgb(var(--_clr-tertiary) / 1);
	--clr-on-tertiary: rgb(var(--_clr-on-tertiary) / 1);
	--clr-tertiary-container: rgb(var(--_clr-tertiary-container) / 1);
	--clr-on-tertiary-container: rgb(var(--_clr-on-tertiary-container) / 1);

	/* Surface colors */

	--_clr-surface: 248 250 240;
	--_clr-on-surface: 26 28 24;
	--_clr-surface-dim: 217 219 209;
	--_clr-surface-bright: 248 250 240;

	--clr-surface: rgb(var(--_clr-surface) / 1);
	--clr-on-surface: rgb(var(--_clr-on-surface) / 1);
	--clr-surface-dim: rgb(var(--_clr-surface-dim) / 1);
	--clr-surface-bright: rgb(var(--_clr-surface-bright) / 1);

	/* Surface container colors */

	--_clr-surface-container: 237 239 229;
	--_clr-surface-container-low: 243 245 235;
	--_clr-surface-container-lowest: 255 255 255;
	--_clr-surface-container-high: 231 233 223;
	--_clr-surface-container-highest: 225 227 218;

	/* Outline colors */

	--_clr-outline: 116 121 109;
	--_clr-outline-variant: 195 200 187;

	/* Status colors */

	--_clr-error: 186 26 26;
	--_clr-on-error: 255 255 255;

	/* Elevation */
	/* See: https://m3.material.io/styles/elevation/applying-elevation */

	--_clr-shadow: 0 0 0;

	--_elevation-0: unset;

	--_elevation-1: rgb(var(--_clr-shadow) / 0.05) 0px 1px 2px 0px;

	--_elevation-2: rgb(var(--_clr-shadow) / 0.1) 0px 1px 3px 0px,
		rgb(var(--_clr-shadow) / 0.06) 0px 1px 2px 0px;

	--_elevation-3: rgb(var(--_clr-shadow) / 0.1) 0px 4px 6px -1px,
		rgb(var(--_clr-shadow) / 0.06) 0px 2px 4px -1px;

	--_elevation-4: rgb(var(--_clr-shadow) / 0.1) 0px 10px 15px -3px,
		rgb(var(--_clr-shadow) / 0.05) 0px 4px 6px -2px;

	--_elevation-5: rgb(var(--_clr-shadow) / 0.1) 0px 20px 25px -5px,
		rgb(var(--_clr-shadow) / 0.04) 0px 10px 10px -5px;

	--_elevation-6: rgb(var(--_clr-shadow) / 0.25) 0px 25px 50px -12px;

	/* Border radiuses */

	--_border-radius-base: 0.1rem;
	--_border-radius-sm: calc(var(--_border-radius-base) * 0.85);
	--_border-radius-md: calc(var(--_border-radius-base) * 2);
	--_border-radius-lg: calc(var(--_border-radius-base) * 3.5);
	--_border-radius-xl: calc(var(--_border-radius-base) * 5);
	--_border-radius-2xl: calc(var(--_border-radius-base) * 7.2);
	--_border-radius-3xl: calc(var(--_border-radius-base) * 10);
}

html, body {
	background-color: var(--_clr-surface);
}


/* Typography */

/*
	- Clamping font sizes: https://clamp.font-size.app/
	- Webfont generator: ttps://www.fontsquirrel.com/tools/webfont-generator
	- Fallback font adjusting: https://screenspan.net/fallback
*/

@font-face {
	font-family: 'Kameron';
	src:
		local('Kameron'),
		url('../assets/Kameron.woff2') format('woff2'),
		url('../assets/Kameron.woff') format('woff');
	font-display: swap;
}

@font-face {
	font-family: 'Kameron-Fallback';
	src: local('Arial');
	size-adjust: 100.892%;
	ascent-override: 95%;
	descent-override: 25%;
	font-display: block;
}

@font-face {
	font-family: 'Kameron-Android-Fallback';
	src: local('Roboto');
	size-adjust: 100.4%;
	font-display: block;
}

@font-face {
	font-family: 'Sub-heading';
	src: 
		local('FiraSans-Thin'),
		url('../assets/FiraSans-Thin.woff2') format('woff2'),
		url('../assets/FiraSans-Thin.woff') format('woff');
	font-display: swap;
}

@font-face {
	font-family: 'Sub-heading-Fallback';
	src: local('Trebuchet MS');
	size-adjust: 100%;
	ascent-override: 102%;
	descent-override: 35%;
	line-gap-override: 4%;
	font-display: block;
}

@font-face {
	font-family: 'Atkinson-Hyperlegible';
	src:
		local('Atkinson Hyperlegible'),
		url('../assets/Atkinson-Hyperlegible.woff') format('woff2'),
		url('../assets/Atkinson-Hyperlegible.woff') format('woff');
	font-display: swap;
}

@font-face {
	font-family: 'Atkinson-Hyperlegible-Fallback';
	src: local('Arial');
	size-adjust: 93%;
	size-adjust: 97%;
	ascent-override: 84%;
	descent-override: normal;
	line-gap-override: 16%;
}

[data-text-variant='heading'] {
	font-family: 'Kameron', 'Kameron-Fallback';
	line-height: 1.2;
	letter-spacing: 0.05em;
	font-size: 2.2rem;
	font-size: clamp(1.8rem, 1.5857rem + 0.7619vw, 2.5rem);
}

[data-text-variant='sub-heading'] {
	font-family: 'Sub-Heading', 'Sub-Heading-Fallback';
	line-height: 1.2;
	font-size: 1.55rem;
	font-size: clamp(1.4rem, 1.3082rem + 0.3265vw, 1.7rem);
}

body {
	--body-font-family: 'Atkinson-Hyperlegible', 'Atkinson-Hyperlegible Fallback',
		sans-serif;
	font-family: var(--body-font-family);
}

[data-text-variant='regular'] {
	font-family: var(--body-font-family);
	line-height: 1.5;
	font-size: 1.25rem;
	font-size: clamp(1rem, 0.8469rem + 0.5442vw, 1.5rem);
}

[data-text-variant='small'] {
	font-family: var(--body-font-family);
	letter-spacing: 0.15em;
	font-weight: bold;
	line-height: 1.4;
	font-size: 0.85rem;
	font-size: clamp(0.7rem, 0.6082rem + 0.3265vw, 1rem);
}
