/*
light-dark() has a very low % on caniuse.com so we are using css variables to achieve the same.

The goal is to initially set the theme that user has set as their preference but still allow theme switching (without js).

Documentation:
https://developer.mozilla.org/en-US/docs/Web/CSS/color_value/light-dark
https://caniuse.com/?search=light-dark
*/

/* See: https://css-tricks.com/a-dry-approach-to-color-themes-in-css/ */
:root {
	--_ON: initial;
	--_OFF: ;

	color-scheme: light dark;
}

.theme-default,
.theme-light {
	--light: var(--_ON);
	--dark: var(--_OFF);
	color-scheme: light;
}

.theme-dark {
	--light: var(--_OFF);
	--dark: var(--_ON);
	color-scheme: dark;
}

@media (--dark) {
	.theme-default {
		--light: var(--_OFF);
		--dark: var(--_ON);
	}
}

:root {
	/* See: https://m3.material.io/styles/color/system/overview */

	/* Primary colors */

	--_clr-primary: var(--light, 56 106 31) var(--dark, 56 106 31);
	--_clr-on-primary: var(--light, 255 255 255) var(--dark, 255 255 255);
	--_clr-primary-container: var(--light, 184 243 151) var(--dark, 184 243 151);
	--_clr-on-primary-container: var(--light, 7 33 0) var(--dark, 7 33 0);

	--clr-primary: rgb(var(--_clr-primary) / 1);
	--clr-on-primary: rgb(var(--_clr-on-primary) / 1);
	--clr-primary-container: rgb(var(--_clr-primary-container) / 1);
	--clr-on-primary-container: rgb(var(--_clr-on-primary-container) / 1);

	/* Secondary colors */

	--_clr-secondary: var(--light, 85 98 76) var(--dark, 85 98 76);
	--_clr-on-secondary: var(--light, 255 255 255) var(--dark, 255 255 255);
	--_clr-secondary-container: var(--light, 217 231 203) var(--dark, 217 231 203);
	--_clr-on-secondary-container: var(--light, 19 31 13) var(--dark, 19 31 13);

	--clr-secondary: rgb(var(--_clr-secondary) / 1);
	--clr-on-secondary: rgb(var(--_clr-on-secondary) / 1);
	--clr-secondary-container: rgb(var(--_clr-secondary-container) / 1);
	--clr-on-secondary-container: rgb(var(--_clr-on-secondary-container) / 1);

	/* Tertiary colors */

	--_clr-tertiary: var(--light, 56 102 102) var(--dark, 56 102 102);
	--_clr-on-tertiary: var(--light, 255 255 255) var(--dark, 255 255 255);
	--_clr-tertiary-container: var(--light, 187 235 236) var(--dark, 187 235 236);
	--_clr-on-tertiary-container: var(--light, 0 32 32) var(--dark, 0 32 32);

	--clr-tertiary: rgb(var(--_clr-tertiary) / 1);
	--clr-on-tertiary: rgb(var(--_clr-on-tertiary) / 1);
	--clr-tertiary-container: rgb(var(--_clr-tertiary-container) / 1);
	--clr-on-tertiary-container: rgb(var(--_clr-on-tertiary-container) / 1);

	/* Surface colors */

	--_clr-surface: var(--light, 248 250 240) var(--dark, 20 18 24);
	--_clr-on-surface: var(--light, 26 28 24) var(--dark, 255 255 255);
	--_clr-surface-dim: var(--light, 217 219 209) var(--dark, 8 8 10);
	--_clr-surface-bright: var(--light, 255 255 255) var(--dark, 113 113 113);

	--clr-surface: rgb(var(--_clr-surface) / 1);
	--clr-on-surface: rgb(var(--_clr-on-surface) / 1);
	--clr-surface-dim: rgb(var(--_clr-surface-dim) / 1);
	--clr-surface-bright: rgb(var(--_clr-surface-bright) / 1);

	/* Surface container colors */

	--_clr-surface-container: var(--light, 237 239 229) var(--dark, 38 35 47);
	--_clr-surface-container-low: var(--light, 243 245 235) var(--dark, 32 29 39);
	--_clr-surface-container-lowest: var(--light, 255 255 255) var(--dark, 8 8 10);
	--_clr-surface-container-high: var(--light, 231 233 223) var(--dark, 44 40 54);
	--_clr-surface-container-highest: var(--light, 225 227 218) var(--dark, 56 51 69);

	--clr-surface-container: rgb(var(--_clr-surface-container) / 1);
	--clr-surface-container-low: rgb(var(--_clr-surface-container-low) / 1);
	--clr-surface-container-lowest: rgb(var(--_clr-surface-container-lowest) / 1);
	--clr-surface-container-high: rgb(var(--_clr-surface-container-high) / 1);
	--clr-surface-container-highest: rgb(var(--_clr-surface-container-highest) / 1);

	/* Outline colors */

	--_clr-outline: var(--light, 205 205 205) var(--dark, 65 65 65);
	--_clr-outline-variant: 195 200 187;

	--clr-outline: rgb(var(--_clr-outline) / 1);
	--clr-outline-variant: rgb(var(--_clr-outline-variant) / 1);

	
	/* Status colors */

	--_clr-error: var(--light, 186 26 26) var(--dark, 255 255 0);
	--_clr-on-error: var(--light, 255 255 255) var(--dark, 0 0 0);

	--clr-error: rgb(var(--_clr-error) / 1);
	--clr-on-error: rgb(var(--_clr-on-error) / 1);

	--_clr-disabled: var(--light, 155 155 155) var(--dark, 54 54 54);
	--_clr-on-disabled: var(--light, 255 255 255) var(--dark, 161 161 161);

	--clr-disabled: rgb(var(--_clr-disabled) / 1);
	--clr-on-disabled: rgb(var(--_clr-on-disabled) / 1);

	/* Elevation */
	/* See: https://m3.material.io/styles/elevation/applying-elevation */

	--_clr-shadow: var(--light, 37 38 39) var(--dark, 0 0 0);

	--_elevation-0: unset;

	--_elevation-1: rgb(var(--_clr-shadow) / 0.05) 0px 1px 2px 0px;

	--_elevation-2: rgb(var(--_clr-shadow) / 0.1) 0px 1px 3px 0px,
		rgb(var(--_clr-shadow) / 0.06) 0px 1px 2px 0px;

	--_elevation-3: rgb(var(--_clr-shadow) / 0.1) 0px 4px 6px -1px,
		rgb(var(--_clr-shadow) / 0.06) 0px 2px 4px -1px;

	--_elevation-4: rgb(var(--_clr-shadow) / 0.1) 0px 10px 15px -3px,
		rgb(var(--_clr-shadow) / 0.05) 0px 4px 6px -2px;

	--_elevation-5: rgb(var(--_clr-shadow) / 0.1) 0px 20px 25px -5px,
		rgb(var(--_clr-shadow) / 0.04) 0px 10px 10px -5px;

	--_elevation-6: rgb(var(--_clr-shadow) / 0.25) 0px 25px 50px -10px;

	/* Border radiuses */

	/* Increase/decrease this value to give your application more rounded/square look. */
	--_border-radius-multiplier: 1rem;

	--_border-radius-sm: calc(var(--_border-radius-multiplier) * 0.085);
	--_border-radius-base: calc(var(--_border-radius-multiplier) * 0.15);
	--_border-radius-md: calc(var(--_border-radius-multiplier) * 0.2);
	--_border-radius-lg: calc(var(--_border-radius-multiplier) * 0.35);
	--_border-radius-xl: calc(var(--_border-radius-multiplier) * 0.5);
	--_border-radius-2xl: calc(var(--_border-radius-multiplier) * 0.72);
	--_border-radius-3xl: calc(var(--_border-radius-multiplier) * 1);
}

html,
body {
	background-color: var(--clr-surface);
	color: var(--clr-on-surface);
}

:where(
	.bg-surface,
	.bg-surface-dim,
	.bg-surface-bright,
	.bg-surface-container,
	.bg-surface-container-high,
	.bg-surface-container-highest,
	.bg-surface-container-low,
	.bg-surface-container-lowest
) {
	color: var(--clr-on-surface);
}

:where(.bg-primary) {
	color: var(--clr-on-primary);
}

:where(.bg-secondary) {
	color: var(--clr-on-secondary);
}

:where(.bg-tertiary) {
	color: var(--clr-on-tertiary);
}

:where(.bg-primary-container) {
	color: var(--clr-on-primary-container);
}

:where(.bg-secondary-container) {
	color: var(--clr-on-secondary-container);
}

:where(.bg-tertiary-container) {
	color: var(--clr-on-tertiary-container);
}

:where(.bg-error) {
	color: var(--clr-on-error);
}

:where(.bg-disabled) {
	color: var(--clr-on-disabled);
}

/* Typography */

/*
	- Clamping font sizes: https://clamp.font-size.app/
	- Webfont generator: https://www.fontsquirrel.com/tools/webfont-generator
	- Fallback font adjusting: https://screenspan.net/fallback
*/

:root {
	/*
		s = size
		ls = letter-spacing
		lh = line-height
		f = font-family
		ff = font-family-fallback
	*/

	/* Heading */
	--f-heading-s: clamp(1.8rem, 1.5857rem + 0.7619vw, 2.5rem);
	--f-heading-ls: 0.05em;
	--f-heading-lh: 1.2;
	--f-heading-f: 'Heading';

	/* Sub-Heading */
	--f-sub-heading-s: clamp(1.4rem, 1.3082rem + 0.3265vw, 1.7rem);
	--f-sub-heading-ls: 0.05em;
	--f-sub-heading-lh: 1.2;
	--f-sub-heading-f: 'Heading';

	/* Normal */
	--f-normal-s: clamp(1rem, 0.8469rem + 0.5442vw, 1.5rem);
	--f-normal-ls: initial;
	--f-normal-lh: 1.5;
	--f-normal-f: 'Normal';

	/* Small */
	--f-small-s: clamp(0.7rem, 0.6082rem + 0.3265vw, 1rem);
	--f-small-ls: 0.08em;
	--f-small-lh: 1.4;
	--f-small-f: 'Normal';
}

@font-face {
	font-family: 'Heading';
	src:
		local('Kameron'),
		url('../assets/Kameron.woff2') format('woff2'),
		url('../assets/Kameron.woff') format('woff');
	font-display: swap;
}

@font-face {
	font-family: 'Heading-Fallback';
	src: local('Arial');
	size-adjust: 100.892%;
	ascent-override: 95%;
	descent-override: 25%;
	font-display: block;
}

@font-face {
	font-family: 'Normal';
	src:
		local('Atkinson Hyperlegible'),
		url('../assets/Atkinson-Hyperlegible.woff2') format('woff2'),
		url('../assets/Atkinson-Hyperlegible.woff') format('woff');
	font-display: swap;
}

@font-face {
	font-family: 'Normal-Fallback';
	src: local('Arial');
	size-adjust: 100%;
	ascent-override: 87%;
	descent-override: normal;
	line-gap-override: 16%;
	font-display: block;
}

body {
	--body-font-family: 'Normal', 'Normal-Fallback', sans-serif;
	font-family: var(--body-font-family);
	font-size: var(--f-normal-s);
	line-height: var(--f-normal-lh);
	letter-spacing: var(--f-normal-ls);
}
