@layer Components {
	[data-component='tooltip-content'] {
		background-color: var(--color-surface-bright);
		color: var(--color-on-surface);
		max-width: 35ch;
		padding: 1ch;
		border-radius: 0.5ch;

		box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
	}

	[data-component='tooltip-trigger'] {
		display: inline-flex;
	}

	[data-component='tooltip-arrow'] {
		fill: var(--color-surface-bright);
	}
}
