@layer components {
	@keyframes reveal {
		0% {
			opacity: 0;
		}
		100% {
			opacity: 1;
		}
	}

	@keyframes detect-scroll {
		from,
		to {
			--can-scroll: ;
		}
	}

	[data-component='scroll-container'] {
		animation: detect-scroll;
		animation-timeline: --scroll-timeline;
		animation-fill-mode: none;

		&::before,
		&::after {
			content: '';
			display: block;
			position: sticky;
			animation-name: reveal;
			animation-timeline: --scroll-timeline;
			animation-fill-mode: both;
			user-select: none;

			--visibility-if-can-scroll: var(--can-scroll) visible;
			--visibility-if-cant-scroll: hidden;
			visibility: var(
				--visibility-if-can-scroll,
				var(--visibility-if-cant-scroll)
			);
		}

		&[data-axis='y'] {
			overflow-y: auto;
			scroll-timeline: --scroll-timeline y;

			&::before,
			&::after {
				left: 0em;
				right: 0em;
				height: 0.75rem;
			}

			&::before {
				top: 0;
				background: radial-gradient(
					farthest-side at 50% 0,
					rgb(0 0 0 / 0.25),
					rgb(0 0 0 / 0)
				);

				animation-range: 1em 2em;
			}

			&::after {
				bottom: 0;
				background: radial-gradient(
					farthest-side at 50% 100%,
					rgb(0 0 0 / 0.25),
					rgb(0 0 0 / 0)
				);

				animation-direction: reverse;
				animation-range: calc(100% - 2em) calc(100% - 1em);
			}
		}

		&[data-axis='x'] {
			overflow-x: auto;
			scroll-timeline: --scroll-timeline x;
			position: relative;
			display: flex;

			> * {
				flex: 1 0 100%;
			}

			&::before,
			&::after {
				top: 0em;
				bottom: 0em;
				width: 0.75rem;
				flex-shrink: 0;
			}

			&::before {
				left: 0;
				margin-right: -0.75rem;
				background: radial-gradient(
					farthest-side at 0% 50%,
					rgb(0 0 0 / 0.25),
					rgb(0 0 0 / 0)
				);

				animation-range: 1em 2em;
			}

			&::after {
				right: 0;
				margin-left: -0.75rem;
				background: radial-gradient(
					farthest-side at 100% 50%,
					rgb(0 0 0 / 0.25),
					rgb(0 0 0 / 0)
				);

				animation-direction: reverse;
				animation-range: calc(100% - 2em) calc(100% - 1em);
			}
		}
	}
}
