@layer components {
	[data-component='t'] {
		&[data-variant='heading'] {
			font-family: var(--font-heading) var(--_font-heading-fallback);
			font-size: var(--text-heading);
			line-height: var(--text-heading--line-height);
			letter-spacing: var(--text-heading--letter-spacing);

			text-wrap: balance;
		}

		&[data-variant='sub-heading'] {
			font-family: var(--font-sub-heading) var(--_font-sub-heading-fallback);
			font-size: var(--text-sub-heading);
			line-height: var(--text-sub-heading--line-height);
			letter-spacing: var(--text-sub-heading--letter-spacing);

			text-wrap: balance;
		}

		&[data-variant='base'] {
			font-family: var(--font-base) var(--_font-base-fallback) sans-serif;
			font-size: var(--text-base);
			line-height: var(---text-base--line-height);
			letter-spacing: var(--text-base--letter-spacing);
		}

		&[data-variant='small'] {
			font-family: var(--font-base) var(--_font-base-fallback) sans-serif;
			font-size: var(--text-small);
			line-height: var(---text-small--line-height);
			letter-spacing: var(--text-small--letter-spacing);
		}
	}
}
