@layer Components {
	[data-radix-popper-content-wrapper] {
		--_dropdown-content-padding: 1ch;
		--_dropdown-min-width: 23ch;
		--_dropdown-item-padding-inline: 1rem;
		--_dropdown-item-padding-block: 0.1rem;
		--_dropdown-content-box-shadow: rgba(0, 0, 0, 0.18) 0px 2px 4px;
		--_dropdown-content-background-color: var(--color-surface-container-high);
		--_dropdown-content-border-radius: 0.5ch;
		--_dropdown-item-border-radius: 0.3ch;
	}

	[data-component='dropdown-content'] {
		border-radius: var(--_dropdown-content-border-radius);

		box-shadow: var(--_dropdown-content-box-shadow);

		min-width: var(--_dropdown-min-width);
		background-color: var(--_dropdown-content-background-color);
		padding: var(--_dropdown-content-padding);
	}

	[data-component='dropdown-item'] {
		padding-inline: var(--_dropdown-item-padding-inline);
		padding-block: var(--_dropdown-item-padding-block);
		border-radius: 0.3ch;

		outline: none;
		&[data-highlighted] {
			color: var(--color-on-primary);
			background-color: var(--color-primary);
		}
	}

	[data-component='dropdown-label'] {
		line-height: 1.7;
		color: var(--color-text-muted);
		padding-inline: var(--_dropdown-item-padding-inline);
		padding-block: var(--_dropdown-item-padding-block);
	}

	[data-component='dropdown-separator'] {
		height: 1px;
		margin: 5px;

		background-color: var(--color-outline-secondary);
	}

	[data-component='dropdown-sub-trigger'] {
		display: flex;
		justify-content: space-between;
		padding-inline: var(--_dropdown-item-padding-inline);
		padding-block: var(--_dropdown-item-padding-block);
		outline: none;
		border-radius: var(--_dropdown-item-border-radius);

		&[data-highlighted] {
			color: var(--color-on-primary);
			background-color: var(--color-primary);
		}
		&[data-state='open']:not([data-highlighted]) {
			color: var(--color-on-primary-container);
			background-color: var(--color-primary-container);
		}
	}

	[data-component='dropdown-sub-content'] {
		border-radius: var(--_dropdown-content-border-radius);
		background-color: var(--_dropdown-content-background-color);
		padding: var(--_dropdown-content-padding);
		box-shadow: var(--_dropdown-content-box-shadow);
		min-width: var(--_dropdown-min-width);
	}
}
