@layer Components {
	html:has(dialog[data-open='true']) {
		/* Use `data-open` so that the exit animations are finished */
		overflow: hidden;
		margin-right: var(--root-scrollbar-width);
	}

	[data-component='dialog'] {
		opacity: 0;

		/* Fade away position */
		transform: scale(80%);

		max-width: min(90vw, 90ch);

		&::backdrop {
			backdrop-filter: blur(0);
			background-color: transparent;
		}

		&[open] {
			opacity: 1;
			transform: translateY(0);

			&::backdrop {
				backdrop-filter: blur(2px);
			}
		}
	}

	@media (--lg-n-below) {
		[data-component='dialog'] {
			margin-bottom: 0;
		}
	}

	@media (--motion-ok) {
		[data-component='dialog'] {
			transition:
				display 0.4s allow-discrete,
				overlay 0.4s allow-discrete,
				opacity 0.4s,
				transform 0.4s ease-out;

			&::backdrop {
				transition: opacity 0.4s;
			}
		}

		@starting-style {
			[data-component='dialog'][open] {
				opacity: 0;
				transform: translateY(20%);

				&::backdrop {
					opacity: 0;
				}
			}
		}
	}
}
